---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Hero from "@/components/sections/Hero.astro";
import ChaosTicker from "@/components/sections/ChaosTicker.astro";
import Work from "@/components/sections/Work.astro";
import Signal from "@/components/sections/Signal.astro";
import Reviews from "@/components/sections/Reviews.astro";
import AwardsMarquee from "@/components/sections/AwardsMarquee.astro";
import Stats from "@/components/sections/Stats.astro";
import Collaborate from "@/components/sections/Collaborate.astro";
---

<BaseLayout>
  <Hero />
  <div style="background:#050505">
    <ChaosTicker />
    <Work />
    <AwardsMarquee />
    <Signal />
    <Reviews />
    <Stats />
    <Collaborate />
  </div>
</BaseLayout>
